body {
  margin:0;
  padding:0;
  /* background:#ccc; */
  font-family: 'Roboto Condensed', sans-serif;
  background: #3c40c6;
  background-image: url(https://flatuicolors.com/static/img/stars-opacity.0979c1.svg);
}

ul {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

ul li {
  list-style:none;
  margin:0 5px;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa {
  color:#fff;
}

ul li:hover span {
  color:#fff;
}

/* FACEBOOK */
ul li:hover:nth-child(1) a{
  background: #3b5998;
}
ul li:hover:nth-child(1) a:before{
  background: #365492;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

/* TWITTER */
ul li:hover:nth-child(2) a{
  background: #00aced;
}
ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

/* INSTAGRAM */
ul li:hover:nth-child(3) a{
  background: #e4405f;
}
ul li:hover:nth-child(3) a:before{
  background: #d81c3f;
}
ul li:hover:nth-child(3) a:after{
  background: #e46880;
}

/* DISCORD */
ul li:hover:nth-child(4) a{
  background: #7289DA;
}
ul li:hover:nth-child(4) a:before{
  background: #5970c1;
}
ul li:hover:nth-child(4) a:after{
  background: #859ae5;
}

#carrot {
  position: absolute;
  top: 75%;
  left: 83%;
  height: 25%;
  width: 16%;
  background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/panel-196520268-image-ef824ad9-803c-4d51-acaa-78c95b2c5ac0");
  background-repeat: no-repeat;
}

#social {
  height: 10%;
  width: 15%;
  background-image: url("https://i.imgur.com/QBRBWhC.png");
  background-repeat: no-repeat;
  margin-left: 42%;
  margin-top: 6%;
  background-size: contain;
}
